:root.dark[data-dark-color-schema="poimandres"] {
  --theme-accent: oklch(75% 0.0464 277deg);
  --theme-background: oklch(31.1% 0.0297 271deg);
  --theme-destructive: oklch(65.4% 0.146 350deg);
  --theme-foreground: oklch(94.9% 0.0203 243deg);
  --theme-primary: oklch(85.6% 0.0929 225deg);
  --theme-success: oklch(70.9% 0.0868 178deg);

  --accent: color-mix(
    in srgb,
    var(--theme-accent) 16%,
    var(--theme-background)
  );
  --accent-foreground: var(--theme-foreground);
  --background: var(--theme-background);
  --border: color-mix(
    in srgb,
    var(--theme-foreground) 14%,
    var(--theme-background)
  );
  --card: color-mix(in srgb, var(--theme-accent) 6%, var(--theme-background));
  --card-foreground: var(--theme-foreground);
  --chart-1: var(--theme-primary);
  --chart-2: var(--theme-success);
  --chart-3: var(--theme-accent);
  --chart-4: var(--theme-destructive);
  --chart-5: var(--theme-foreground);
  --destructive: var(--theme-destructive);
  --foreground: var(--theme-foreground);
  --input: color-mix(
    in srgb,
    var(--theme-primary) 18%,
    var(--theme-background)
  );
  --muted: color-mix(
    in srgb,
    var(--theme-primary) 10%,
    var(--theme-background)
  );
  --muted-foreground: color-mix(
    in srgb,
    var(--theme-foreground) 74%,
    var(--theme-background)
  );
  --popover: color-mix(
    in srgb,
    var(--theme-accent) 8%,
    var(--theme-background)
  );
  --popover-foreground: var(--theme-foreground);
  --primary: var(--theme-primary);
  --primary-foreground: var(--theme-background);
  --ring: var(--theme-primary);
  --scrollbar-thumb: color-mix(in srgb, var(--theme-primary) 32%, transparent);
  --scrollbar-thumb-hover: color-mix(
    in srgb,
    var(--theme-primary) 48%,
    transparent
  );
  --secondary: color-mix(
    in srgb,
    var(--theme-accent) 18%,
    var(--theme-background)
  );
  --secondary-foreground: var(--theme-foreground);
  --sidebar: color-mix(
    in srgb,
    var(--theme-accent) 8%,
    var(--theme-background)
  );
  --sidebar-accent: color-mix(
    in srgb,
    var(--theme-primary) 18%,
    var(--theme-background)
  );
  --sidebar-accent-foreground: var(--theme-foreground);
  --sidebar-border: color-mix(
    in srgb,
    var(--theme-foreground) 14%,
    var(--theme-background)
  );
  --sidebar-foreground: var(--theme-foreground);
  --sidebar-primary: var(--theme-primary);
  --sidebar-primary-foreground: var(--theme-background);
  --sidebar-ring: var(--theme-primary);
}
